@import "tailwindcss";

body {
  font-family:'Montserrat';
  
 
}
html {
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  scrollbar-width: thin; /* Firefox ke liye */
}

/* Agar aur slow karna hai to custom smooth scroll effect */
body {
  scroll-behavior: smooth;
  transition: scroll 1s ease-in-out;
}

/* Custom scrollbar styling (optional) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

